@model Traveller.Models.Place
@using Traveller.Models
@{
    ViewBag.Title = "تعديل مكان ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page wrapper  -->
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h3 class="text-primary text-center">تعديل مكان  </h3>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="card-body text-center">
                <div class="input-states">
                    <form class="form-horizontal" action="~/Places/Edit" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ID",Model.ID)
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4">الاسم</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4">الاسم الاصلي في الدولة </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.NameInCountry, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NameInCountry, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4">دائرة العرض</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Log, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Log, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4">خط الطول</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Lat, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Lat, "", new { @class = "text-danger" })                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4">اسم المدينه</label>
                                <div class="col-md-8">
                                    @Html.DropDownList("City_ID", new SelectList(new DB().Cities, "ID", "Name",Model.City_ID), "-Select City -", new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4">التفاصيل </label>
                                <div class="col-md-8">
                                    <textarea rows="8" name="Description" required cols="43">@Model.Description</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4">صور</label>
                                <div class="col-md-8">
                                    <input type="file" multiple name="Photos" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4">فديوهات</label>
                                <div class="col-md-8">
                                    <input type="file" multiple name="Videos" />
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit">حفظ</button>
                    </form>
                    @if (ViewBag.error != null)
                    {
                        <span style="color:red">@ViewBag.error</span>
                    }
                    @if (ViewBag.Done != null)
                    {
                        <span style="color:green">@ViewBag.Done</span>
                    }
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
</div>
<!-- End Page wrapper  -->


    <!-- Page wrapper  -->
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h3 class="text-primary text-center"> الصور </h3>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid" style="text-align:right;">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <table id="" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th> الصورة  </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th> الصورة  </th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model.Places_Photos)
                                {
                                    <tr>
                                        <td><img src="~/Uploads/Places_Photos/@(item.ID).jpg" width="200" height="200" alt="" /></td>
                                        <td>
                                            <form action="~/Places/DeletePhoto/@(item.ID)" method="post">
                                                @Html.AntiForgeryToken()
                                                <button class="btn btn-danger" onclick="return confirm('Are You Sure You Want To Delete This Photo ?!');" type="submit"><i class="close"></i> حذف</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container fluid  -->
</div>
<!-- End Page wrapper  -->

    <!-- Page wrapper  -->
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h3 class="text-primary text-center"> الفيديوهات </h3>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid" style="text-align:right;">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <table id="" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th> الفيديو  </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th> الفيديو  </th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model.Places_Videos)
                                {
                                    <tr>
                                        <td>
                                            <video width="250" height="200" controls="">
                                                <source src="~/Uploads/Places_Videos/@(item.ID).mp4" type="video/mp4">
                                            </video>                                        </td>
                                        <td>
                                            <form action="~/Places/DeleteVideo/@(item.ID)" method="post">
                                                @Html.AntiForgeryToken()
                                                <button class="btn btn-danger" onclick="return confirm('Are You Sure You Want To Delete This Video ?!');" type="submit"><i class="close"></i> حذف</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container fluid  -->
</div>
<!-- End Page wrapper  -->
